#prompt {
    background: rgba(0, 0, 0, 0.219);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 99;
    transition: opacity 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
 
    #inner {
        width: 80vw;
    
        #header {
            text-align: center;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            padding: 5px;
            padding-bottom: 10px;
        }

        #container {
            background: rgba(0, 0, 0, 0.397);
            min-height: 80px;
            color: #CECECE;
            transition: 0.2s;
        }
    
        // LOADING SCREEN -- https://loading.io/css/
        .lds-dual-ring {
            display: block;
            width: 80px;
            height: 80px;
            margin: auto;
        }
    
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 80px;
            height: 80px;
            margin: 1px;
            border-radius: 50%;
            border: 6px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    
        @keyframes lds-dual-ring {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
 
    #close {
       background: url('../images/close.png') center center no-repeat;
       position: absolute;
       top: 0px;
       right: 0px;
       height: 80px;
       width: 80px;
       opacity: 0.6;
       transition: 0.3s;
       cursor: pointer;
    }
 
    #close:hover {
       opacity: 1;
    }
}

#prompt.active {
    opacity: 1;
    visibility: visible;
}

#prompt.inactive {
    opacity: 0;
    visibility: hidden;
}